<!DOCTYPE html>
<html>
<head>
    <title>Review History</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <h2 class="mb-4">Review History</h2>
    <form method="GET" action="/history" class="row g-3 mb-4">

    <div class="col-md-5">
        <input
            type="text"
            name="search"
            value="{{ search }}"
            class="form-control"
            placeholder="Search reviews...">
    </div>

    <div class="col-md-3">
        <select name="sentiment" class="form-select">

            <option value="All">All</option>
            <option value="positive">Positive</option>
            <option value="negative">Negative</option>
            <option value="neutral">Neutral</option>

        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">
            Filter
        </button>
    </div>

</form>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>Review</th>
                <th>Sentiment</th>
                <th>Confidence</th>
            </tr>
        </thead>

        <tbody>

        {% for review in reviews %}

        <tr>
            <td>{{ review.review }}</td>
            <td>{{ review.sentiment }}</td>
            <td>{{ review.confidence }}%</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>
<form method="GET" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Search reviews..."
            value="{{ search }}"
        >

        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

</body>
</html>