<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Sentiment Analyzer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-5">

        <h1 class="text-center text-primary">
            AI-Based Sentiment Analyzer
        </h1>

        <p class="text-center">
            Analyze Product Reviews & Social Media Comments using AI
        </p>

    </div>
<div class="card shadow p-5">

    <h1 class="text-center text-primary">
        AI-Based Sentiment Analyzer
    </h1>

    <p class="text-center">
        Analyze Product Reviews & Social Media Comments using AI
    </p>

    <form>

        <div class="mb-3">

            <label class="form-label">
                Enter Review
            </label>

            <textarea class="form-control"
                      rows="5"
                      placeholder="Type your review here..."></textarea>

        </div>

        <button class="btn btn-primary w-100">
            Analyze Sentiment
        </button>

    </form>

</div>
</div>

</body>
</html>